<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% for i in messages %}
        <p style="color:green;">{{i}}</p>
    {% endfor %}
    <p>Doctor <b>{{appointment_obj.doctor}}</b></p>
    <p>Appointment date <b>{{appointment_obj.appointment_date|date:"d l m Y"}}</b></p>
    <p>Appointment start time <b>{{appointment_obj.appointment_start_time|date:"G:i"}}</b></p>
    <p>Appointment End time <b>{{appointment_obj.appointment_end_time|date:"G:i"}}</b></p>
</body>
</html>