<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Post</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% for i in messages %}
        <p>{{i}}</p>
    {% endfor %}
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <button onclick="generate_post()">
            Save to  draft
        </button>
        <input type="submit" value="Create Post">
    </form>
    <script>
        function generate_post(){
            let form_method=document.getElementsByTagName("form")[0]
            form_method.method="POST"
            form_method.action="{% url 'save-post' %}"
            form_method.submit()
        }
        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                                    + 'If you leave before saving, your changes will be lost.';
            (e || window.event).returnValue = confirmationMessage;
            return confirmationMessage;
        });
    </script>
</body>
</html>