{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    {% if request.user.user_type|str == "Doctor" %}
        <p><a href="{% url 'create-post' %}">Create Post</a></p>
        <p><a href="{% url 'your-posts' %}">Your Posts</a></p>
        <p><a href="{% url 'drafts' %}">Drafts</a></p>
    {% endif %}
    {% if doctor_posts %}
        {% for i in doctor_posts %}
            <p><a href="#">{{i.title}}</a></p>
            {% if i.image %}
                <img src="{{i.image.url}}" alt="{{i.title}}'s image">
            {% endif %}
            <p id="content">{{i.summary|split:" "}}</p>
        {% endfor %}
    {% else %}
        <p>No posts </p>
    {% endif %}
</body>
</html>