{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    {% if request.user.user_type|str == "Doctor" %}
        <p><a href="{% url 'create-post' %}">Create Post</a></p>
        <p><a href="{% url 'your-posts' %}">Your Posts</a></p>
        <p><a href="{% url 'drafts' %}">Drafts</a></p>
    {% else %}
        {% for i in category %}
            {% if i.post_set.all %}
                <h2>Posts related to {{i}}</h2>
                {% for j in i.post_set.all %}
                        <p><a href="#">{{j.title}}</a></p>
                        {% if j.image %}
                            <img src="{{j.image.url}}" alt="{{j.title}} post image">
                        {% endif %}
                        <p id="content">{{j.summary|split:15}}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <p><a href="{% url 'doctors' %}">View Doctors</a></p>
    {% endif %}
</body>
</html>