<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{path}} Login</title>
</head>
<body>
    <p>{{path}} Login</p>
    <form method="POST">
        {% csrf_token %}
        {% for i in messages %}
            <p style="color:red">{{i}}</p>
        {% endfor %}
        <p>Email</p>
        <input type="text" name="email" id="email">
        <p>Password</p>
        <input type="password" name="password" id="password">
        <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'home' %}">Home page</a></p>
</body>
</html>